# Compiled
*.elc

# Packaging
.cask

# MacOS filesystem litter
.DS_Store

# Packages
elpa/*

# Tetris scores
games/*

# Recently accessed files
recentf

# Backup
*~

# Idk
auto-save-list/
auto-save-list/*
network-security.data
tramp
